<section id="about">
<div class="container">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 text-center">
<h2>About Us</h2>
</div>                  
<div class="col-lg-10 col-lg-offset-1 text-center">
<p>Recharge One Page Responsive HTML Theme is another theme brought to you by wob-themes @walkonboulevard. It is an ideal template for any personal or business website. This theme is designed with Twitter Bootstrap Framework. For visuals, Google fonts and Fontawesome are used. It has a slider designed using jquery. It has a grid portfolio to display your works. A section to name your clients and also a testimonial slider and a team slider. The map is made using leafletjs and is easily customisable. It has a Ajax powered fully validated contact form. The message will be delivered straight to your inbox. The theme is easily customisable, clean and properly documented.</p>
</div>                  
            <!-- Team Slider-->      
<div id="team" class="col-lg-10 col-lg-offset-1">
<div class="row">                  
    <div id="team-slider" class="owl-carousel owl-theme">
        <div class="owl-item" style="width: 325px;">
        <div class="item">
        <div class="text-center">
        <img class="img-responsive img-circle" src="./Recharge One Page Responsive HTML Theme_files/team1.png" alt="something">
        <h4>John Doe</h4>
        <p>CEO</p>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 325px;">
        <div class="item">
        <div class="text-center">
        <img class="img-responsive img-circle" src="./Recharge One Page Responsive HTML Theme_files/team2.png" alt="">
        <h4>April Doe</h4>
        <p>Content Designer</p>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 325px;">
        <div class="item">
        <div class="text-center">
        <img class="img-responsive img-circle" src="./Recharge One Page Responsive HTML Theme_files/team3.png" alt="">
        <h4>May Doe</h4>
        <p>HR Manager</p>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 325px;">
        <div class="item">
        <div class="text-center">
        <img class="img-responsive img-circle" src="./Recharge One Page Responsive HTML Theme_files/team4.png" alt="">
        <h4>Jack Doe</h4>
        <p>Front-end Developer</p>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 325px;"><div class="item">
        <div class="text-center">
        <img class="img-responsive img-circle" src="./Recharge One Page Responsive HTML Theme_files/team5.png" alt="">
        <h4>Summer Doe</h4>
        <p>IT Manager</p>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 325px;"><div class="item">
        <div class="text-center">
        <img class="img-responsive img-circle" src="./Recharge One Page Responsive HTML Theme_files/team6.png" alt="">
        <h4>June Doe</h4>
        <p>Event Manager</p>
        </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section> 