        <section id="contact">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12 text-center">
                    	<h2>Contact</h2>
                    </div>
                </div>
            </div>
            
            <!-- map -->
            <div id="map" class="leaflet-container leaflet-fade-anim" tabindex="0" style="position: relative;"><div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container leaflet-zoom-animated"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688.png" style="height: 256px; width: 256px; left: 839px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689.png" style="height: 256px; width: 256px; left: 839px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687.png" style="height: 256px; width: 256px; left: 839px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(1).png" style="height: 256px; width: 256px; left: 1095px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(2).png" style="height: 256px; width: 256px; left: 583px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(1).png" style="height: 256px; width: 256px; left: 1095px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(1).png" style="height: 256px; width: 256px; left: 583px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(2).png" style="height: 256px; width: 256px; left: 1095px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(2).png" style="height: 256px; width: 256px; left: 583px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(3).png" style="height: 256px; width: 256px; left: 1351px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(4).png" style="height: 256px; width: 256px; left: 327px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(3).png" style="height: 256px; width: 256px; left: 327px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(3).png" style="height: 256px; width: 256px; left: 1351px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(4).png" style="height: 256px; width: 256px; left: 327px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(4).png" style="height: 256px; width: 256px; left: 1351px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(5).png" style="height: 256px; width: 256px; left: 1607px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(6).png" style="height: 256px; width: 256px; left: 71px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(5).png" style="height: 256px; width: 256px; left: 1607px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(5).png" style="height: 256px; width: 256px; left: 1607px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(6).png" style="height: 256px; width: 256px; left: 71px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(6).png" style="height: 256px; width: 256px; left: 71px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(7).png" style="height: 256px; width: 256px; left: 1863px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/688(8).png" style="height: 256px; width: 256px; left: -185px; top: 128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(7).png" style="height: 256px; width: 256px; left: -185px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(7).png" style="height: 256px; width: 256px; left: -185px; top: 384px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/687(8).png" style="height: 256px; width: 256px; left: 1863px; top: -128px;"><img class="leaflet-tile leaflet-tile-loaded" src="./Recharge One Page Responsive HTML Theme_files/689(8).png" style="height: 256px; width: 256px; left: 1863px; top: 384px;"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"><img src="./Recharge One Page Responsive HTML Theme_files/marker-shadow.png" class="leaflet-marker-shadow leaflet-zoom-animated" style="margin-left: -12px; margin-top: -41px; width: 41px; height: 41px; transform: translate3d(1988px, -1644px, 0px);"></div><div class="leaflet-overlay-pane"></div><div class="leaflet-marker-pane"><img src="./Recharge One Page Responsive HTML Theme_files/marker-icon.png" class="leaflet-marker-icon leaflet-zoom-animated leaflet-clickable" tabindex="0" style="margin-left: -12px; margin-top: -41px; width: 25px; height: 41px; transform: translate3d(1988px, -1644px, 0px); z-index: -1644;"></div><div class="leaflet-popup-pane"><div class="leaflet-popup  leaflet-zoom-animated" style="opacity: 1; transform: translate3d(1988px, -1644px, 0px); bottom: 27px; left: -71px;"><a class="leaflet-popup-close-button" href="http://www.walkonboulevard.com/Recharge/#close">×</a><div class="leaflet-popup-content-wrapper"><div class="leaflet-popup-content" style="width: 104px;">Recharge Theme <br> London, England.</div></div><div class="leaflet-popup-tip-container"><div class="leaflet-popup-tip"></div></div></div></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="http://www.walkonboulevard.com/Recharge/#" title="Zoom in">+</a><a class="leaflet-control-zoom-out" href="http://www.walkonboulevard.com/Recharge/#" title="Zoom out">-</a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com/" title="A JS library for interactive maps">Leaflet</a> | © <a href="http://osm.org/copyright">OpenStreetMap</a> contributors</div></div></div></div>
            
            <div class="container">
            	<div class="row">
                	<div class="col-lg-12">
                        <h3>Get in touch</h3>
                        <p class="lead">This is a Ajax powered contact form with validation. Below you can write your address and link to your social networks. The above map is also easily customizable.</p>
                    </div>
                    
                    
                    <div class="col-lg-4">
                        <div class="icon">
                        	<i class="fa fa-2x fa-university"></i>
                        </div>
                        <p class="lead">Recharge Responsive Theme<br> London, England</p>
                        
                        <div class="icon">
                        	<i class="fa fa-2x fa-fax"></i>
                        </div>
                        <p class="lead">(123) 456-7890</p>
                        
                        <div class="icon">
                        	<i class="fa fa-2x fa-envelope"></i>
                        </div>
                        <p class="lead">walkonboulevard@gmail.com</p>
                        
                       
                        <div class="social">
                        	<a href="http://www.walkonboulevard.com/Recharge/#"><span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span></a>
                            
                            <a href="http://www.walkonboulevard.com/Recharge/#"><span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span></a>
                            
                            <a href="http://www.walkonboulevard.com/Recharge/#"><span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span></a>
                            
                            <a href="http://www.walkonboulevard.com/Recharge/#"><span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span></a>
                        </div>
                    </div>
                    
					<form method="post" action="http://www.walkonboulevard.com/Recharge/insertmails.php" id="myForm" role="form">
                    <div class="col-lg-8">

						<div class="control-group">
							<div class="controls col-lg-6">
								<label for="name">NAME</label><br>
								<input type="text" name="name" id="name" title="Please enter your name (at least 2 characters)">
								
							</div>
						</div>
						
						<div class="control-group">
							<div class="controls col-lg-6">                           
								<label for="email">EMAIL</label><br>
								<input type="email" name="email" id="email" title="Please enter a valid email address">
							</div>
						</div>
						
						<div class="control-group">
							<div class="controls col-lg-12">                            
								<label for="message">MESSAGE</label><br>
								<textarea rows="5" name="message" id="message" title="Please enter your message (at least 10 characters)"></textarea>
							</div>
						</div>
						
						<div class="col-lg-12 text-right">
							<button name="submit" type="submit" class="btn btn-success" id="sub">  <b>&nbsp;&nbsp; send &nbsp;&nbsp; </b>  </button>
						</div>
					
						<p><span id="result" style="color:black"></span></p>
                    </div></form>
                    
					
                </div>
            </div>
            
        </section>