		<div class="container" id="works">
       <section class="grid3d vertical" id="grid3d">
	   <div class="row">
                	<div class="col-lg-12 text-center">
                    	<h2>Portfolio</h2>
                    </div>
		</div>
				<div class="grid-wrap" style="-webkit-perspective-origin-x: 50%; -webkit-perspective-origin-y: 542px; perspective-origin: 50% 542px;">
					<div class="grid">
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/1(2).jpg" alt="img01"></figure>
						<figure class=""><img src="./Recharge One Page Responsive HTML Theme_files/5(2).jpg" alt="img05"></figure>
						<figure class=""><img src="./Recharge One Page Responsive HTML Theme_files/8.jpg" alt="img08"></figure>
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/2(2).jpg" alt="img02"></figure>
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/4(2).jpg" alt="img04"></figure>
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/3(2).jpg" alt="img03"></figure>
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/9.jpg" alt="img09"></figure>
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/6(2).jpg" alt="img06"></figure>
						<figure><img src="./Recharge One Page Responsive HTML Theme_files/7(2).jpg" alt="img07"></figure>
					</div>
				</div><!-- /grid-wrap -->
				<div class="content">
					<div>
						<div class="dummy-img"><img src="./Recharge One Page Responsive HTML Theme_files/2(2).jpg" alt="img02"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="">
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="">
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="dummy-img"></div>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content">.<i class="fa fa-times fa-fw"></i>
</span>
				</div>
			</section>
		</div>

