        <section id="services">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12 text-center">
                    	<h2>Services</h2>
                    </div>

                    <div class="col-lg-6">
                        <div class="service">
                            <img src="./Recharge One Page Responsive HTML Theme_files/service1.png" alt="icon">
                            <h3>Content Creation</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="service">
                            <img src="./Recharge One Page Responsive HTML Theme_files/service2.png" alt="icon">
                            <h3>Web Services </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="service">
                            <img src="./Recharge One Page Responsive HTML Theme_files/service3.png" alt="icon">
                            <h3>Platform Management</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="service">
                            <img src="./Recharge One Page Responsive HTML Theme_files/service4.png" alt="icon">
                            <h3>Account Building</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
