
	<div id="slider" class="carousel">
	<div class="header">
		<div class="clr"></div>
    </div>
	
	<h1></h1>			
<div class="wrapper">
                <div id="ei-slider" class="ei-slider"><div class="ei-slider-loading" style="display: none;">Loading</div>
                    <ul class="ei-slider-large">
						<li style="opacity: 0; z-index: 1;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/6.jpg" alt="image06" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 0; display: block; margin-right: 0px;">Its Recharge</h2>
                                <h3 style="opacity: 0; display: block; margin-right: 0px;">Only for you</h3>
                            </div>
                        </li>
                        <li style="opacity: 0; z-index: 1;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/1.jpg" alt="image01" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 0; margin-right: 0px; display: block;">Bootstrap</h2>
                                <h3 style="opacity: 0; margin-right: 0px; display: block;">Fully Responsive</h3>
                            </div>
                        </li>
                        <li style="opacity: 0; z-index: 1;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/2.jpg" alt="image02" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 0; margin-right: 0px; display: block;">Slider</h2>
                                <h3 style="opacity: 0; margin-right: 0px; display: block;">Even more Responsive</h3>
                            </div>
                        </li>
                        <li style="opacity: 0; z-index: 1;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/3.jpg" alt="image03" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 0; margin-right: 0px; display: block;">Google Fonts</h2>
                                <h3 style="opacity: 0; margin-right: 0px; display: block;">Fontawesome</h3>
                            </div>
                        </li>
                        <li style="opacity: 1; z-index: 10;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/4.jpg" alt="image04" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 1; margin-right: 0px; display: block;">Grids</h2>
                                <h3 style="opacity: 1; margin-right: 0px; display: block;">Owl Corousel</h3>
                            </div>
                        </li>
                        <li style="opacity: 0; z-index: 1;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/5.jpg" alt="image05" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 0; margin-right: 0px; display: block;">Leaflet Maps</h2>
                                <h3 style="opacity: 0; margin-right: 0px; display: block;">and Parallax</h3>
                            </div>
                        </li>
                        <li style="opacity: 0; z-index: 1;">
                            <img src="./Recharge One Page Responsive HTML Theme_files/7.jpg" alt="image07" style="width: 1920px; height: 750px; margin-left: 0px; margin-top: -125px;">
                            <div class="ei-title">
                                <h2 style="opacity: 0; margin-right: 0px; display: block;">Ajax Contact Form</h2>
                                <h3 style="opacity: 0; margin-right: 0px; display: block;">Free Icon set</h3>
                            </div>
                        </li>
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs" style="display: block; max-width: 1050px;">
                        <li class="ei-slider-element" style="max-width: 150px; width: 14.285714285714286%; left: 617.125px;">Current</li>
						<li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 6</a><img src="./Recharge One Page Responsive HTML Theme_files/6(1).jpg" alt="thumb06"></li>
                        <li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 1</a><img src="./Recharge One Page Responsive HTML Theme_files/1(1).jpg" alt="thumb01"></li>
                        <li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 2</a><img src="./Recharge One Page Responsive HTML Theme_files/2(1).jpg" alt="thumb02"></li>
                        <li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 3</a><img src="./Recharge One Page Responsive HTML Theme_files/3(1).jpg" alt="thumb03"></li>
                        <li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 4</a><img src="./Recharge One Page Responsive HTML Theme_files/4(1).jpg" alt="thumb04"></li>
                        <li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 5</a><img src="./Recharge One Page Responsive HTML Theme_files/5(1).jpg" alt="thumb05"></li>
                        <li style="max-width: 150px; width: 14.285714285714286%;"><a href="http://www.walkonboulevard.com/Recharge/#">Slide 7</a><img src="./Recharge One Page Responsive HTML Theme_files/7(1).jpg" alt="thumb07"></li>
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
                <div class="reference">
					<p class="demos"><a href="http://www.walkonboulevard.com/Recharge/#">Learn More</a> | <span><a href="http://www.walkonboulevard.com/Recharge/#">Get Started</a><span></span></span></p>

                    <p>Recharge One Page Responsive HTML Theme</p>
                </div>
            </div>
</div>