<!DOCTYPE html>
<!-- saved from url=(0040)http://www.walkonboulevard.com/Recharge/ -->
<html class=" js csstransitions js csstransforms3d csstransitions pointerevents" ng-app='home'>
   	<!--<![endif]-->
   	<head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Zoolovinos</title>
          <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
          <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Recharge One Page Responsive HTML Theme">
        <meta name="author" content="wobthemes">

        <!-- viewport settings -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">






		<!-- Owl Corousel styles sheets -->
        <link rel="stylesheet" href="./Recharge One Page Responsive HTML Theme_files/owl.carousel.css">
        <link rel="stylesheet" href="./Recharge One Page Responsive HTML Theme_files/owl.theme.css">

		<!-- Theme CSS -->
        <link rel="stylesheet" href="./Recharge One Page Responsive HTML Theme_files/main.css">
		<link rel="stylesheet" href="./Recharge One Page Responsive HTML Theme_files/grids.css">
		<link rel="stylesheet" href="./Recharge One Page Responsive HTML Theme_files/style.css">

		<!-- Map CSS -->
		<link rel="stylesheet" href="./Recharge One Page Responsive HTML Theme_files/leaflet.css">

        <!-- Font -->
        <link href="./Recharge One Page Responsive HTML Theme_files/css" rel="stylesheet" type="text/css">
        <link href="./Recharge One Page Responsive HTML Theme_files/css(1)" rel="stylesheet" type="text/css">
        <link href="./Recharge One Page Responsive HTML Theme_files/css(2)" rel="stylesheet" type="text/css">
        <link href="./Recharge One Page Responsive HTML Theme_files/css(3)" rel="stylesheet" type="text/css">
		<link href="./Recharge One Page Responsive HTML Theme_files/css(4)" rel="stylesheet" type="text/css">
		<link href="./Recharge One Page Responsive HTML Theme_files/css(5)" rel="stylesheet" type="text/css">
		<link href="./Recharge One Page Responsive HTML Theme_files/css(6)" rel="stylesheet" type="text/css">
		<link href="./Recharge One Page Responsive HTML Theme_files/css(7)" rel="stylesheet" type="text/css">
		<link href="./Recharge One Page Responsive HTML Theme_files/css(8)" rel="stylesheet" type="text/css">


        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">

	<!-- Fontawesome CSS -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<script async="" src="./Recharge One Page Responsive HTML Theme_files/analytics.js"></script><script src="./Recharge One Page Responsive HTML Theme_files/modernizr.custom.js"></script>
		<script src="./Recharge One Page Responsive HTML Theme_files/modernizr.custom-1.js"></script>

	<script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script></head>

	<body class="">


        <%= yield %>


		<!-- jQuery -->
		<script type="text/javascript" src="./Recharge One Page Responsive HTML Theme_files/jquery.min.js"></script>

		<script src="./Recharge One Page Responsive HTML Theme_files/bootstrap.min.js"></script>

        <script src="./Recharge One Page Responsive HTML Theme_files/leaflet.js"></script>

        <script src="./Recharge One Page Responsive HTML Theme_files/owl.carousel.min.js"></script>
        <script src="./Recharge One Page Responsive HTML Theme_files/smooth-scroll.js"></script>
        <script src="./Recharge One Page Responsive HTML Theme_files/retina-1.1.0.min.js"></script>
		<script src="./Recharge One Page Responsive HTML Theme_files/jquery.eislideshow.js"></script>
        <script src="./Recharge One Page Responsive HTML Theme_files/jquery.easing.1.3.js"></script>

		<script src="./Recharge One Page Responsive HTML Theme_files/classie.js"></script>
		<script src="./Recharge One Page Responsive HTML Theme_files/helper.js"></script>
		<script src="./Recharge One Page Responsive HTML Theme_files/grid3d.js"></script>

		<script src="./Recharge One Page Responsive HTML Theme_files/main.js"></script>

       <script>
//  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
//
//  ga('create', 'UA-50120404-1', 'walkonboulevard.com');
//  ga('send', 'pageview');

	</script>


</body>
</html>
